@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap'); 


body {
    background-image: url(/images/forest1_cropped.jpg);
    background-size:auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}



.nav_bar {

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-color:teal;
    border-radius: 10px;
   
    
}

a:link {
    text-decoration: none;
    color: rgb(26, 26, 25);
  } 
  a:visited {
    color: rgb(26, 26, 25);
}
a:hover {
    color:#ff9634;;
}
h4:hover {
    color:#ff9634;
}

p {
    font-size: 16px;
    font-family: 'poppins', 'Courier New', Courier, monospace;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Magra', 'Courier New', Courier, monospace;
}

.logo {
    height: 50px;
    padding-right: 0px 500px 0px 10px;
    margin-top: -25px;
   
}

.links {
    font-family: 'magra';
    font-size: 20px;
    word-spacing: 25px;
    padding: 15px 25px 0px 25px;
    color: rgb(26, 26, 25);
    
}

.banner1 {
    
    height: 80px;
    width: 450px;
    font-size: 25px;
    color: #123c1f;
    word-spacing: 5px;
    opacity: 90%;
    
}

.logo_text {
    font-family: 'magra', 'Courier New', Courier, monospace;
    margin-top:10px;

}


/* Nav bar */

/*  */
/*  */

.p {
    font-size: 16px;
    

}

.img1 {
    max-width: 250px;
    max-height: 250px;

}


.abt_text {
    display: flex;
    flex-flow: column;
    justify-content:center;
    width: 400px;
    height: 500px;
    padding: 25px 2px 2px 140px;
    margin: 50px 25px 250px 390px;
    background-color:rgb(219, 218, 218);
    opacity: 80%;
    font-family: 'poppins', 'Courier New', Courier, monospace;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(58, 104, 104);
    border-radius: 25px;
}



.footer {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgb(102, 129, 110);
    color: white;
    text-align: center;
    font-family: 'poppins', 'Courier New', Courier, monospace;
    border-radius: 10px;
}

.footer_left {
    text-align: left;
    margin: 20px;

}

.footer_right {
    text-align: right;
    margin-right: 40px;
}

.footer, a {
    text-decoration: none;
    margin-bottom: 10px;
}